.headerContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 2.625rem auto;
  width: 80%;
}

.headerContainer nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.headerContainer nav a {
  font-size: 1.25rem;
  font-weight: 600;
}

.headerContainer nav a:hover {
  box-shadow: inset 0px -2px 0px 0px var(--accent);
}

@media screen and (max-width: 425px) {
  .headerContainer{
    justify-content: center;
  }
}
