footer {
  background-color: var(--background);
  padding: 2rem 1rem;
}

.footerIconContainer {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.footerIconContainer > a {
  transform: all 0.3s;
}

.footerIconContainer > a:hover {
  color: var(--accent);
  transform: scale(1.1);
}
