:root {
  --page-width: 80%;

  --text: #130b23;
  --background: #f9f8fc;

  --primary: #2d1b50;
  --secondary: #eae4f6;
  --accent: #754bc3;

  --white: #ffffff;
  --black: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Heebo", sans-serif;
}

body {
  background-color: var(--background);
}

h1 {
  font-size: 2.75rem;
  font-weight: 900;
  color: var(--primary);
}

h2 {
  font-size: 2rem;
  color: var(--primary);
}

body,
a,
input {
  color: var(--text);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  border: 0;
  cursor: pointer;
}

input:focus {
  outline: 0;
}

section {
  height: 100vh;
  margin: 0 auto;
  width: var(--page-width);
}

section:first-child {
  height: calc(100vh - 30px - (42px * 2));
}

@media (max-width: 1100px) {
  section:first-child {
    height: calc(100% - 30px - (42px * 2));
  }

  section {
    height: 100%;
    margin: 3rem auto;
  }
}
